body{
    background-color: grey;
}

img{
    width:100px;
    height: 100px;
    border: 25px solid orange;
    border-radius: 50%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    background-color: yellow;
    animation-name: movingdiv;
}


 @keyframes movingdiv{
    0%{
        transform:translate(0vw,50vh);
    }
    25%{
        transform:translate(50vw,0vh);
    }
    50%{
        transform:translate(98vw,50vh);
    }
    75%{
        transform:translate(50vw,98vh);
    }
    100%{
        transform:translate(0vw,50vh);
    } 
}